<div class="header p-5" style="margin-top: 60px">
  <div class="text">
      <h1 class="text-h1">
        Off-market <br/>homes you can't <br> find&nbsp;<span class="text-h1-02">anywhere else</span>
      </h1>
      <p class="text-p-01">
        Skip the bidding wars. Self-tour and buy off-market <br> homes at exclusive
        prices. We even offer an <br> Appraisal Price Match Guarantee.
      </p>
      <a class="btn">See all homes</a>
      <p class="text-p-02">
        Currently only available in Austin, Houston, and Dallas-Fort Worth, TX
      </p>
  </div>
  <img
    class="img"
    src="https://imgdrop.imgix.net/70f0b08288c74c2294031207057d0a8a.png?auto=format,compress&ch=Width,DPR&dpr=2&fit=max&w=580"
    alt=""
  />
</div>
