<div class="container">
  <div class="filter-fx" style="margin-bottom: 50px">
    <div class="wrapper">
      <div class="label">Submit your search</div>
  
      <form (ngSubmit)="onSubmit()" class="searchBar">
        <input
        style=" border:1px solid #d6d9da"
          id="searchQueryInput"
          type="text"
          placeholder="Search"
          value=""
          [(ngModel)]="searchTerm"
          name="searchTerm"
        />
        <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit" >
          <svg style="width: 24px; height: 24px;" viewBox="0 0 24 24">
            <path
              fill="#666666"
              d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"
            />
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="label" style="font-size: 15px">Houses DEMO</div>
  
    <select [(ngModel)]="sortProperty" class="dropbtn">
      <option value="">Sort by</option>
      <option value="HouseAddress">House Address</option>
      <option value="discountPrice">Price</option>
      <option value="dateCreated">Newest</option>
    </select>
    <!-- ==============Demo=================== -->
    <ul class="cards">
      <ng-container *ngFor="let data of userData | async | sort : sortProperty">
        <li class="card" *ngIf="data.HouseStatus === 'Demo'">
          <div>
            <mat-card
              class="example-card"
              *ngIf="afAuth.authState | async as user"
            >
              <mat-card-header>
                <div mat-card-avatar>
                  <img [src]="data.userImage" mat-card-avatar />
                </div>
                <mat-card-title>{{ data.userName }}</mat-card-title>
                <mat-card-subtitle
                  >Status: {{ data.HouseStatus }}</mat-card-subtitle
                >
              </mat-card-header>
  
              <div class="zoom-img">
                <img
                  id="galleryCardImgListingId133527"
                  [src]="data.HouseImage"
                  alt="Photo of House image"
                  loading="lazy"
                  class=""
                />
              </div>
              <div class="btm">
                <div class="btm-02">
                  <form class="btm-03">
                    <p class="text-p-01">
                      <span class="text-p-02">Current price: </span
                      ><span style="color: #202c4a" class="text-p-03">
                        <span>${{ data.discountPrice }}</span> </span
                      ><span class="text-p-04">Original price: </span
                      ><span style="color: #202c4a" class="text-p-05"
                        >${{ data.originalPrice }}</span
                      >
                    </p>
                  </form>
                  <span class="text-p-06">
                    {{ data.HouseAddress }}
                  </span>
                  <p class="text-p-07">{{ data.HouseDescription }}</p>
                  <p class="text-p-08">Date Created: {{ data.dateCreated }}</p>
                </div>
              </div>
              <div
                *ngIf="(afAuth.authState | async) && data.uid === uid"
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  padding: 5px;
                "
              >
                <button
                  mat-raised-button
                  (click)="editHouse(data.id)"
                  color="primary"
                >
                  Edit
                  <mat-icon>edit</mat-icon>
                </button>
  
                <button
                  mat-raised-button
                  (click)="postHouse(data.id)"
                  color="primary"
                >
                  Post
                  <mat-icon>P</mat-icon>
                </button>
  
                <button
                  mat-raised-button
                  (click)="deleteHouse(data.id)"
                  color="warn"
                >
                  Delete
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div
                *ngIf="(afAuth.authState | async) && data.uid !== ''"
                style="
                  display: none;
                  flex-direction: row;
                  justify-content: space-between;
                  padding: 5px;
                "
              ></div>
            </mat-card>
          </div>
        </li>
      </ng-container>
    </ul>
  
    <!-- ==============Posted=================== -->
    <div class="label" style="font-size: 15px">House Posted</div>
    <ul class="cards">
      <ng-container *ngFor="let data of userData | async | sort : sortProperty ">
        <!-- | filter : ['HouseAddress', 'discountPrice'] : filterValue -->
  
        <li class="card" *ngIf="data.HouseStatus === 'Posted'">
          <div>
            <mat-card
              class="example-card"
              *ngIf="afAuth.authState | async as user"
            >
              <mat-card-header>
                <div mat-card-avatar>
                  <img [src]="data.userImage" mat-card-avatar />
                </div>
                <mat-card-title>{{ data.userName }}</mat-card-title>
                <mat-card-subtitle
                  >Status: {{ data.HouseStatus }}</mat-card-subtitle
                >
              </mat-card-header>
  
              <div class="zoom-img">
                <img
                  id="galleryCardImgListingId133527"
                  [src]="data.HouseImage"
                  alt="Photo of House image"
                  loading="lazy"
                  class=""
                />
              </div>
              <div class="btm">
                <div class="btm-02">
                  <form class="btm-03">
                    <p class="text-p-01">
                      <span class="text-p-02">Current price: </span
                      ><span style="color: #202c4a" class="text-p-03">
                        <span>${{ data.discountPrice }}</span> </span
                      ><span class="text-p-04">Original price: </span
                      ><span style="color: #202c4a" class="text-p-05"
                        >${{ data.originalPrice }}</span
                      >
                    </p>
                  </form>
                  <span class="text-p-06">
                    {{ data.HouseAddress }}
                  </span>
                  <p class="text-p-07">{{ data.HouseDescription }}</p>
                  <p class="text-p-08">Date Created: {{ data.dateCreated }}</p>
                </div>
              </div>
              <div
                *ngIf="(afAuth.authState | async) && data.uid === uid"
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  padding: 5px;
                "
              >
                <button
                  mat-raised-button
                  (click)="editHouse(data.id)"
                  color="primary"
                >
                  Edit
                  <mat-icon>edit</mat-icon>
                </button>
  
                <button
                  mat-raised-button
                  (click)="DemoHouse(data.id)"
                  color="primary"
                >
                  Demo
                  <mat-icon>D</mat-icon>
                </button>
  
                <button
                  mat-raised-button
                  (click)="deleteHouse(data.id)"
                  color="warn"
                >
                  Delete
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card>
          </div>
        </li>
      </ng-container>
    </ul>
  
    <!-- ================================= -->
  </div>
  <mat-paginator
    [length]="100"
    [pageSizeOptions]="[10, 25, 50, 100]"
  ></mat-paginator>
  
</div>