<div class="wrapper"  data-aos="fade-up" data-aos-duration="1500">
    <div class="dis-flex">
        <div class="dis">
            <h2 class="text-h2-01 line-height">Exclusive prices</h2>
            <h2 class="text-h2-02">for 14 days</h2>
            <p class="css-1qsn089">Beat the market. Our off-market Exclusive price is less than what they will list at
                on the public market.</p>
        </div>
        <div class="dis">
            <h2 class="text-h2-02 line-height">Appraisal Price</h2>
            <h2 class="text-h2-02">Match<!-- --> <span class="text-h2-01">&nbsp;Guarantee</span></h2>
            <p class="css-1qsn089">Simply pay the off-market exclusive price for the home. If it is appraised for less,
                we’ll match it.<a role="link" href="#"
                    aria-label="Go to frequently asked questions for Appraisal Price Match Guarantee" target="_blank"
                    rel="noopener noreferrer" class="text-p2-02"> <!-- -->Learn more.</a></p>
        </div>
    </div>
    <div class="dis-flex">
        <div class="dis">
            <h2 class="text-h2-02 line-height">Back out anytime</h2>
            <h2 class="text-h2-01">Get your money back</h2>
            <p class="">You can back out anytime before closing, and still get 100% of your earnest money
                deposit back.</p>
        </div>
        <div class="dis aos-init aos-animate">
            <h2 class="text-h2-02 line-height">Say<!-- --> <span class="text-h2-01">&nbsp;goodbye&nbsp;</span> <!-- -->to</h2>
            <h2 class="text-h2-02">bidding wars</h2>
            <p class="css-1qsn089">Never be outbid again. Find a home you love, sign the contract, and it’s yours. It’s
                that simple.</p>
        </div>
    </div>
</div>

<div class="text01">
    <h2 class="text-h2-03">
        See what 
        <span class="text-h2-04">our customers </span>
        have to say
    </h2>
   <div class="center">
    <a role="link" href="#" aria-label="See all exclusives" class="text-a-02">See all<span
        class="arow-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9.9877 12.0965C9.40593 12.6782 8.4627 12.6782 7.88094 12.0965C7.29917 11.5147 7.29917 10.5715 7.88094 9.9897L8.3623 9.50834H2.95684C2.1341 9.50834 1.46713 8.84137 1.46713 8.01863C1.46713 7.19589 2.1341 6.52892 2.95684 6.52892L8.39961 6.52892L7.88094 6.01025C7.29917 5.42848 7.29917 4.48525 7.88094 3.90349C8.4627 3.32172 9.40593 3.32172 9.9877 3.90349L13.0308 6.94659C13.6126 7.52836 13.6126 8.47159 13.0308 9.05336L9.9877 12.0965Z"
                fill="currentColor"></path>
        </svg></span></a>
   </div>
</div>