<div class="text text-p-01">
    <p>OPENDOOR IS FEATURED IN</p>
</div>

<div class="content">
    <div class="card-01">
        <img src="https://imgdrop.imgix.net/85d5b06bee184e76bb9aeb5cfc8aa240.png?auto=format,compress&amp;ch=Width,DPR&amp;dpr=2&amp;fit=max&amp;w=1024"
            alt="The New York Times" class="img-01" />
        <p class="text-p-02">"Moving as simple as the click of a button"</p>
    </div>
    <div class="card-01">
        <img src="https://imgdrop.imgix.net/e88686bdd6aa4706ad0d7e98b00ec677.png?auto=format,compress&amp;ch=Width,DPR&amp;dpr=2&amp;fit=max&amp;w=1024"
            alt="Forbes" class="img-02" />
        <p class="text-p-02">"Changing the way Americans buy and sell"</p>
    </div>
    <div class="card-01">
        <img src="https://imgdrop.imgix.net/387e28f0c9774fdeabb4ecb65ca70173.png?auto=format,compress&amp;ch=Width,DPR&amp;dpr=2&amp;fit=max&amp;w=1024"
            alt="Fortune" class="img-03" />
        <p class="text-p-02">"Fair offer price within minutes"</p>
    </div>
    <div class="card-01">
        <img src="https://imgdrop.imgix.net/8471aa4d2b7746d1917afd262c89545f.png?auto=format,compress&amp;ch=Width,DPR&amp;dpr=2&amp;fit=max&amp;w=1024"
            alt="The Wall Street Journal" class="img-04" />
        <p class="text-p-02">"Takes the hassle out of selling"</p>
    </div>
</div>