<div class="wrapper">
    <div class="dis-flex">
        <div class="dis">
            <h2 class="text-h2-01 line-height">Exclusive prices</h2>
            <h2 class="text-h2-02">for 14 days</h2>
            <p class="css-1qsn089">Beat the market. Our off-market Exclusive price is less than what they will list at
                on the public market.</p>
        </div>
        <div class="dis">
            <h2 class="text-h2-02 line-height">Appraisal Price</h2>
            <h2 class="text-h2-02">Match<!-- --> <span class="text-h2-01">&nbsp;Guarantee</span></h2>
            <p class="css-1qsn089">Simply pay the off-market exclusive price for the home. If it is appraised for less,
                we’ll match it.<a role="link" href="#"
                    aria-label="Go to frequently asked questions for Appraisal Price Match Guarantee" target="_blank"
                    rel="noopener noreferrer" class="text-p2-02"> <!-- -->Learn more.</a></p>
        </div>
    </div>
    <div class="dis-flex">
        <div class="dis">
            <h2 class="text-h2-02 line-height">Back out anytime</h2>
            <h2 class="text-h2-01">Get your money back</h2>
            <p class="">You can back out anytime before closing, and still get 100% of your earnest money
                deposit back.</p>
        </div>
        <div class="dis aos-init aos-animate">
            <h2 class="text-h2-02 line-height">Say<!-- --> <span class="text-h2-01">&nbsp;goodbye&nbsp;</span> <!-- -->to</h2>
            <h2 class="text-h2-02">bidding wars</h2>
            <p class="css-1qsn089">Never be outbid again. Find a home you love, sign the contract, and it’s yours. It’s
                that simple.</p>
        </div>
    </div>
</div>