<div class="content"  data-aos="fade-up" data-aos-duration="1500">
    <div class="card-left">
        <div class="inner-card">
            <div class="card-text">
                <div class="card-icon"><img src="https://imgdrop.imgix.net/f62db0d0dabf4680bea8a9359da50655.png"
                        alt="Vinay Ramesh" class="icon"></div>
                <p class="text-p-01"><span class="text-p-02">Vinay Ramesh | Product
                        Specialist</span><br>exclusive@opendoor.com<br>(512) 706-9938</p>
            </div>
        </div><a role="link" aria-label="" class="text-a-01">Questions? Let’s chat</a>
    </div>
    <div class="card-right">
        <div class="inner-card-right">
            <h2 class="text-h2-01">See new off-market homes&nbsp;<!-- --> <span class="text-h2-02">only available on Opendoor
                    Exclusives</span></h2>
            <p class="text-p-03">Don’t miss out on your dream home. Sign up to get exclusive, off-market homes
                delivered to your inbox.</p>
            <div class="footer">
                <div class="text-02">Send me new homes in <div style="display: inline-block;"><button class="blue-text">Dallas
                            - Fort Worth<!-- -->, TX <svg width="1rem" height="1rem" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3.15708 5.49965C2.51804 6.13869 2.51804 7.17478 3.15708 7.81382L6.49977 11.1565C7.13881 11.7955 8.1749 11.7955 8.81394 11.1565L12.1566 7.81382C12.7957 7.17478 12.7957 6.13869 12.1566 5.49965C11.5176 4.86061 10.4815 4.86061 9.84246 5.49965L7.65685 7.68526L5.47125 5.49965C4.83221 4.86061 3.79612 4.86061 3.15708 5.49965Z"
                                    fill="var(--colors-brand50)"></path>
                            </svg></button>
                        <ul aria-hidden="true" class="css-1y9mu4h eax4u7o0" style="display: none;">
                            <li class="css-1jbaism eax4u7o1"><span class="css-1jbq980 eax4u7o2">
                                    <p class="css-1cwp9sp">Austin, TX</p>
                                </span></li>
                            <li class="css-1jbaism eax4u7o1"><span class="css-1jbq980 eax4u7o2">
                                    <p class="css-1cwp9sp">Houston, TX</p>
                                </span></li>
                            <li class="css-1jbaism eax4u7o1"><span class="css-1jbq980 eax4u7o2">
                                    <p class="css-1cwp9sp">Dallas - Fort Worth, TX</p>
                                </span></li>
                        </ul>
                    </div>
                </div>
                <div class="css-roynbj">
                    <div class="od-cta-input css-i9jc9h e16j3weq4">
                        <div class="cta-input-wrapper css-bvbw0y e16j3weq3">
                            <div class="css-jneeu5 e16j3weq2">
                                <form class="cta-input-form css-0">
                                    <div class="css-116t829 e16j3weq1">
                                        <div class="input">
                                            <input type="text" name="CtaInput"
                                                class="email-text" value=""
                                                placeholder="Email address" autocomplete="email" required=""
                                                aria-label="Submit email address to get exclusive listings">
                                            <button class="btn">Send me new homes</button></div>
                                    </div>
                              
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>