<div class="card">
    <div class="img-card">
        <img src="https://imgdrop.imgix.net/285beba0a7934c1d9d328287ad70ed07.png" alt="Couple in front of a house"
            class="img" />
    </div>
    <div class="bg posi">
        <div class="dis-flex">
            <div class="text01">
                <p class="text-p-01">
                    300+
                </p>
                <p class="text-p-02">
                    Monthly new homes dropped in Austin, Houston, and Dallas-Fort Worth
                </p>
            </div>
            <div class="text01">
                <p  class="text-p-01">
                    $100m+
                </p>
                <p class="text-p-02">
                    Homes sold via Exclusives
                </p>
            </div>
            <div class="text01">
                <p class="text-p-01">
                    $1m+
                </p>
                <p class="text-p-02">
                    Matched via Appraisal Price Match Guarantee
                </p>
            </div>
        </div>
    </div>
</div>