.card{
    /* box-sizing: content-box; */
    background-color: transparent;
    border: none;
    margin-top: 180px;
}

.img-card{
    overflow: hidden;
    max-height: 540px;
    margin:0 auto;
    max-width: 100%;
}
.img{
    height: 540px;
    max-width: 100%;
    aspect-ratio: auto;
    object-fit: cover;
    width: auto;
    border-radius: 20px;
}
.bg{
    box-sizing: border-box;
    background: #082de6;
    width: 100%;
    z-index: -1;
}
.posi{
    position: absolute;
    top: 400px;
}
.dis-flex{
    display: flex;
    flex-direction: row;
    min-height: 410px;
    margin: auto;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 50px 130px 0 130px;
}

.text01{
    max-width: 320px;
    text-align: start;
}

.text-p-01{
    margin-top: 50px;
    font-family:Publico,serif;
    font-weight: 400;
    color: #fff;
    font-style: italic;
    line-height: 64px;
    font-size: 56px;
    letter-spacing: -0.05em;
}
.text-p-02{
    font-family: Graphik,system-ui,sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 1.5rem;
    font-size: 19px;
    line-height: 28px;
}
@media screen and (max-width: 800px) {
    .dis-flex{
      display: block;
      margin: 0 80px;
    }
    .bg{
        padding-top: 100px;
        padding-bottom: 100px;
    }
  }