<div class="card-01" data-aos="fade-up" data-aos-duration="1500">
  <h2 class="text-h2-01">
    Questions?<br /><span class="text-h2-02">We have answers.</span>
  </h2>
  <div class="card-right">
    <svg class="svg-01">
      <defs>
        <g>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.8839 5.11612C14.372 5.60427 14.372 6.39573 13.8839 6.88388L8.88388 11.8839C8.64946 12.1183 8.33152 12.25 8 12.25C7.66848 12.25 7.35054 12.1183 7.11612 11.8839L2.11612 6.88388C1.62796 6.39573 1.62796 5.60427 2.11612 5.11612C2.60427 4.62796 3.39573 4.62796 3.88388 5.11612L8 9.23223L12.1161 5.11612C12.6043 4.62796 13.3957 4.62796 13.8839 5.11612Z"
            fill="currentColor"
          ></path>
        </g>
      </defs>
    </svg>
    <div class="card-02">
      <ul class="card-03">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>What are Opendoor-Owned Exclusives?</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="p-01">Opendoor-Owned Exclusives are homes owned by Opendoor that are offered
                exclusively to our customers for 14 days before we list them to the public. We have
                heard from our customers how hard it can be to purchase a home in this market
                environment, and how stressful the process can be, so we decided to build something
                better.</p>
            <p class="p-01">We can give our customers an opportunity to purchase these homes
                before anyone else and make the purchasing process simple and streamlined.</p>
          </mat-expansion-panel>
          <mat-expansion-panel
        >
          <mat-expansion-panel-header>
            <mat-panel-title>How does the process work?</mat-panel-title>
          </mat-expansion-panel-header>
          <p class="p-01">We’ve streamlined the process of purchasing an Opendoor-Owned
            Exclusive into 6 easy steps:</p>
        <p class="p-01"><b>1. Tour the home</b><br>Any Opendoor-Owned Exclusive displaying the
            “Self-tour instantly” button is open for self-tours 8am-8pm local time any day of
            the
            week. Just call us at (855) 476-0049, complete a short verification process, and
            we’ll
            give you access to the home. You can complete the process when you arrive at the
            home or
            up to 24 hours in advance.</p>
        <p class="p-01"><b>2. Set up and sign your contract</b><br>Each Opendoor-Owned
            Exclusive has a no-haggle price, so you don’t have to agonize over what to offer or
            whether you’ll lose out to another buyer paying cash. We take a first-come,
            first-served
            approach—the first person to sign a contract will be under contract to purchase the
            home, no matter how you choose to finance the purchase.If you’d
            like to
            move forward with a contract, visit the property page for that Exclusive and click
            Buy.
            We’ll ask you for some information needed to generate a contract, and then we’ll
            send
            over a contract via email for you to sign. You’ll have 48 hours to sign the
            contract—during that time, the home will be locked for you and nobody else will be
            able
            to purchase it.If you and all co-signers sign the contract within
            the
            allotted time window, we’ll continue to lock this home for you while we review your
            information, after which we will contact you with next steps. We use the <a
                role="link"
                href="https://www.trec.texas.gov/forms/one-four-family-residential-contract-resale"
                aria-label="Texas standard contract" target="_blank" rel="noopener noreferrer"
                class="css-8bwvtp">real estate contract</a> adopted by the Texas Real
            Estate
            Commission, which is the same contract you will often see used in Texas.</p>
        <p class="p-01"><b>3. Submit your earnest money deposit</b><br>After signing the
            contract, you’ll have 5 days to submit your earnest money deposit. The deposit is
            set at
            1% of the purchase price. We’ll send you full details on how to submit the earnest
            money
            deposit once you sign your contract. There is no option fee required on Opendoor
            Exclusives.<br>With Opendoor-Owned Exclusives, you can back out of the purchase any
            time
            until closing and for any reason, and receive a full refund of your earnest money
            deposit.</p>
        <p class="p-01"><b>4. Submit your pre-approval letter</b><br>If you plan to finance
            the purchase of your Opendoor-Owned Exclusive, you’ll submit your pre-approval
            letter to
            us within 5 days of a fully signed contract. Your pre-approval must reflect credit
            verification.<br>If you decide to purchase the home with cash, you’ll submit proof
            of
            funds (e.g., a bank statement) within 5 days of a fully signed contract.<br>If your
            purchase of an Opendoor-Owned Exclusive is contingent on the sale of another home,
            the
            home you’re planning to sell must already be in contract to sell. Additionally, any
            contingency periods for the sale of your previous property must end no later than 5
            days
            after the contract for the Exclusives home is fully signed. You’ll supply us with a
            purchase agreement or other proof within 5 days after the contract for the
            Exclusives
            home is fully signed.<br>We’ll send you full details on how to submit these
            materials
            once you sign your contract for the Opendoor-Owned Exclusives home.</p>
        <p class="p-01"><b>5. Schedule inspections and finalize details with your
                lender</b><br>We encourage you to schedule a full home inspection so that you
            can
            feel comfortable with your purchase. We will work with your inspector to give them
            access to the home—just give us their details and desired inspection time, and we'll
            do
            the rest.<br>If you're financing the home purchase, you'll also work with your
            lender to
            finalize your loan. As part of that process, your lender will typically order an
            appraisal, which is an independent valuation of the home. One of the benefits of
            buying
            an Opendoor Exclusive is that it comes with an Appraisal Price Match
            Guarantee
            <a role="link" href="/exclusives/faq?apmg=1"
                aria-label="Learn more about Appraisal Price Match Guarantee"
                class="css-8bwvtp">Learn more</a>.
        </p>
        <p class="p-01"><b>6. Close and get the keys!</b><br>You control your closing
            timeline—you can choose any close date, up to 35 days after signing the contract.
            You
            can also reschedule your close date without any penalties within that 35-day period
            if
            something unexpected comes up. If you love a home but are unable to close within a
            35-day period, please give us a call to discuss your options.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
      >
        <mat-expansion-panel-header>
          <mat-panel-title>How
            does pricing work? Can I negotiate the price?</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p-01">Opendoor-Owned Exclusives are offered at a transparent, no-haggle
            price—the price you see is the price you pay. To give you confidence in our pricing,
            we
            offer an<a role="link" href="/exclusives/faq?apmg=1"
                aria-label="Go to Appraisal Price Match Guarantee" class="css-8bwvtp">Appraisal
                Price Match Guarantee.</a></p>
      </mat-expansion-panel>
        </mat-accordion>
      </ul>
    </div>
    <button
      class="cta-button btn-02"
      type="button"
      aria-label="See all frequently asked questions"
    >
      See all FAQs
    </button>
  </div>
</div>